
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="" />

  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/theme/stylesheet/style.min.css">

  <link rel="stylesheet" type="text/css" href="/theme/pygments/github.min.css">
  <link rel="stylesheet" type="text/css" href="/theme/font-awesome/css/font-awesome.min.css">


    <link href="/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Renato Lelis Atom">


    <link rel="shortcut icon" href="https://rjlelis.github.io//images/favicon.png" type="image/x-icon">
    <link rel="icon" href="https://rjlelis.github.io//images/favicon.png" type="image/x-icon">



<meta name="author" content="Renato Lelis" />
<meta name="description" content="Entendendo como a engine de templates do Django funciona" />
<meta name="keywords" content="django">

<meta property="og:site_name" content="Renato Lelis"/>
<meta property="og:title" content="Entendendo o sistema de templates do Django"/>
<meta property="og:description" content="Entendendo como a engine de templates do Django funciona"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="/django-template.html"/>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="2019-06-23 00:00:00-03:00"/>
<meta property="article:modified_time" content="2020-05-10 00:00:00-03:00"/>
<meta property="article:author" content="/author/renato-lelis.html">
<meta property="article:section" content="web"/>
<meta property="article:tag" content="django"/>
<meta property="og:image" content="https://rjlelis.github.io//images/profile.jpg">

  <title>Renato Lelis &ndash; Entendendo o sistema de templates do Django</title>

</head>
<body>
  <aside>
    <div>
      <a href="">
        <img src="https://rjlelis.github.io//images/profile.jpg" alt="Renato Lelis" title="Renato Lelis">
      </a>
      <h1><a href="">Renato Lelis</a></h1>

<p>Desenvolvedor | Inspirante a musico</p>

      <ul class="social">
        <li><a class="sc-linkedin" href="https://www.linkedin.com/in/renato-lelis" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="sc-github" href="https://github.com/rjLelis" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sc-twitter" href="https://twitter.com/renato_lelis" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a class="sc-medium" href="https://medium.com/@renatojlelis" target="_blank"><i class="fa fa-medium"></i></a></li>
      </ul>
    </div>


  </aside>
  <main>

    <nav>
      <a href="">    Home
</a>

      <a href="/archives.html">Archives</a>
      <a href="/categories.html">Categories</a>

      <a href="/feeds/all.atom.xml">    Atom
</a>

    </nav>

<article class="single">
  <header>
      
    <h1 id="django-template">Entendendo o sistema de templates do Django</h1>
    <p>
          Posted on dom 23 junho 2019 in <a href="/category/web.html">web</a>


    </p>
  </header>


  <div>
    <p><img alt="Forma de bolo" src="/images/forma.jpeg"></p>
<p>Sendo considerado um framework full stack, o Django possui funcionalidades que abrangem desde da modelagem de dados com sua própria ORM até o front-end, com seu sistema completo de templates. Neste artigo vamos discutir como este sistema funciona, suas funcionalidades básicas e algumas mais avançadas.</p>
<p>O sistema de templates do Django existe basicamente exibir informações vindo das <code>views</code> no front-end da aplicação e formatar páginas(os templates) com código escritos em python. O Django dispõe de três tipos tags especiais para fazer esta formatação.</p>
<p>A primeira delas é a variável de template. Ela é representada pelas chaves duplas <code>{{ }}</code>. Esta tag possibilita simplesmente exibir dados de uma variável vindos da view.</p>
<div class="highlight"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.nome }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.email }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.data_de_nascimento }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>É uma funcionalidade bem básica e o que chama a atenção é a simplicidade dela. É fácil de ler e fácil de identificar do que se trata.</p>
<p>A próxima tag é o filter, funcionando como uma extensão da anterior, representado pelas chaves duplas, contendo um pipe no meio <code>{{ | }}</code>. Conhecida como filtro, ela adiciona uma formatação à informação que vai ser renderizada.</p>
<div class="highlight"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.nome }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.email }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.data_de_nascimento | date:&#39;d/m/Y&#39;}}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>No exemplo acima, o filtro é aplicado a data de nascimento do usuário. O filtro funciona da seguinte forma: entre as chaves duplas <code>{{}}</code> é passada a informação a ser renderizada e, separado por um pipe, o tipo de filtro a ser aplicado nessa informação. Você pode conferir os tipos de filter e como aplicá-los na <a href="https://docs.djangoproject.com/pt-br/3.0/ref/templates/builtins/#filter">documentação</a> oficial do Django.</p>
<p>Por último mas não menos importante vem as <code>expressions</code>. Representadas como <code>{%%}</code>, elas nos dão a possibilidade de executar comandos do Python dentro de nossos templates.</p>
<div class="highlight"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    {% for usuario in usuarios %}
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.nome }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

      {% if usuario.email %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.email }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      {% else %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ E-mail não cadastrado }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      {% endif %}

      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.data_de_nascimento | date:&#39;d/m/Y&#39;}}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endfor %}
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>Nesse exemplo vemos a aplicação de código Python nos templates do Django. Temos um <code>for</code>, onde a lista de usuários é iterada, e um <code>if\else</code> simples checando se existe um email cadastrado para aquele usuário. Note que todas as <code>expressions</code>, com exceção de algumas, terminam com um <code>end</code>.</p>
<h2>Tags avançadas</h2>
<p>O Django disponibiliza algumas <code>expressions</code> próprias que, não servem para escrever código em Python, porém auxiliam no desenvolvimento de funcionalidades do template e também ajudam no reuso de código. Dessas <code>expressions</code>, as mais usadas são o <code>extends</code>, o <code>url</code> e o <code>static</code>.</p>
<p>O <code>extends</code> faz com que se crie um padrão de layout nos templates, onde um template pai carrega toda a formatação básica das páginas deixa um espaço para os templates filhos serem carregados.</p>
<div class="highlight"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
 <span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{% block title %} Página base {% endblock title %}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    {% block content %}
    {% endblock content %}
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>A tag <code>block</code> é usada para delimitar o espaço onde o template filho vai ser renderizado.</p>
<div class="highlight"><pre><span></span><code>{% extends &#39;base.html&#39; %}
{% block title%} Lista de usuários {% endblock title %}
{% block content %}
  {% for usuario in usuarios %}
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.nome }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

    {% if usuario.email %}
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.email }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% else %}
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ E-mail não cadastrado }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endif %}

     <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.data_de_nascimento | date:&#39;d/m/Y&#39;}}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
  {% endfor %}
{% endblock content %}
</code></pre></div>


<p>O <code>extends</code> é usado para dizer ao Django qual é o template pai e o <code>block</code> nesse escopo é para dizer quais informações vão ser renderizadas nos espaços pré-determinados.</p>
<p>No template pai, note que existe uma informação no bloco <code>title</code>. Se, no template filho, alguma informação for passada nesse bloco, a informação do template filho prevalece, sobrescrevendo a do template pai.</p>
<p>No final, o html renderizado é o seguinte:</p>
<div class="highlight"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Lista de usuários<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
  {% for usuario in usuarios %}
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.nome }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

    {% if usuario.email %}
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.email }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% else %}
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ E-mail não cadastrado }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endif %}

    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.data_de_nascimento | date:&#39;d/m/Y&#39;}}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
    {% endfor %}
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>O oportunidade de reuso de código aqui é grande e é uma coisa comum em projetos Django.</p>
<p>A tag <code>url</code> renderizar a url de uma função da <code>view</code>, mapeada por um namespace.</p>
<div class="highlight"><pre><span></span><code><span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>Lista de usuários<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
   <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    {% for usuario in usuarios %}
      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.nome }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>

      {% if usuario.email %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.email }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      {% else %}
        <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ E-mail não cadastrado }}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      {% endif %}

      <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>{{ usuario.data_de_nascimento | date:&#39;d/m/Y&#39;}}<span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
      <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{% url &#39;usuarios:usuario-detalhe&#39; pk=usuario.id %}&quot;</span><span class="p">&gt;</span>
    {% endfor %}
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>O primeiro argumento é o namespace da função e os seguintes são os argumentos que serão passados para a função. No exemplo acima, a url que irá ser renderizada é o da função de detalhe do usuário e o argumento passado é o id do usuário para a função realizar a consulta.</p>
<p>Outra tag bastante utilizada é tag <code>static</code>. Ela é usada para carregar recursos estáticos da aplicação, como imagens, javascript e css.</p>
<div class="highlight"><pre><span></span><code>{% load static %}
<span class="cp">&lt;!DOCTYPE html&gt;</span>
<span class="p">&lt;</span><span class="nt">html</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">head</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">title</span><span class="p">&gt;</span>{% block title %} Página base {% endblock title %}<span class="p">&lt;/</span><span class="nt">title</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#39;stylesheet&#39;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#39;{% static usuario/css/main.css %}&#39;</span><span class="p">&gt;</span>
   <span class="p">&lt;/</span><span class="nt">head</span><span class="p">&gt;</span>
  <span class="p">&lt;</span><span class="nt">body</span><span class="p">&gt;</span>
    {% block content %}
    {% endblock content %}
    <span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&#39;{% static usuario/js/main.js %}&#39;</span><span class="p">&gt;</span>
  <span class="p">&lt;/</span><span class="nt">body</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">html</span><span class="p">&gt;</span>
</code></pre></div>


<p>Esta tag serve para renderizar o caminho absoluto dos recursos, utilizando o namespace. Para ser usada, a tag <code>static</code> deve ser carregada para o template usando a tag <code>load</code>, colocada bem no início do documento html.</p>
<p>Geralmente, os recursos estático são carregados dentro do template pai, aumentando ainda mais o reuso. Mas nada impede desses recursos serem importados nos templates filho.</p>
<p>Neste artigo falei um pouco sobre o sistema de templates do Django e suas funcionalidades.</p>
<p>O sistema de templates do Django foi pensado, assim como o próprio Python, para ter um código legível e simples de ser implementado e de dar manutenção. A documentação oficial do sistema de templates do Django você pode conferir <a href="https://docs.djangoproject.com/pt-br/3.0/ref/templates/">aqui</a>.</p>
<p>Uma coisa que falei algumas vezes durante este artigo foi o uso de namespace. Ele é muito importante no desenvolvimento do Django. Irei detalhar esta importância em outro futuro artigo.</p>
  </div>
  <div class="tag-cloud">
    <p>
      <a href="/tag/django.html">django</a>
    </p>
  </div>





</article>

    <footer>
<p>&copy; Renato Lelis 2020</p>
<p>    Powered by <a href="http://getpelican.com" target="_blank">Pelican</a> - <a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a> theme by <a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a>
</p>    </footer>
  </main>




<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Blog",
  "name": " Renato Lelis ",
  "url" : "",
  "image": "https://rjlelis.github.io//images/profile.jpg",
  "description": "Um blog onde vou escrever artigos técnicos e outras coisas que eu quiser"
}
</script>

</body>
</html>